body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-image: url('sand-8826_512.gif'); /* Replace 'your-background-image.jpg' with the path to your image */
    background-size: auto;   
  background-repeat: no-repeat; 
   
  }
  
  button {
    font-size: 20px;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #time {
    font-size: 60px;
    margin-bottom: 20px;
    color: #4CAF50;
  }
  
  #laps {
    list-style-type: none;
    padding: 0;
  }
  
  #laps li {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  @media (max-width: 600px) {
    body {
      font-size: 16px;
      padding: 30px;
    }
  
    button {
      font-size: 18px;
      padding: 10px 20px;
    }
  
    #time {
      font-size: 40px;
    }
  }
  